body {
    background-color: rgb(245, 252, 255);
    margin-top: 100px;
}

* {
    cursor: default;
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-weight: lighter;
    font-style: normal;
    color: rgb(40, 51, 75);
}

div {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

#content {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

#content > * {
    margin-bottom: 30px;
}

#name {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    white-space: nowrap;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 51, 75);
}

#student, #gorod {
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

#coordinates {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

ul {
    display: flex;
}

ul li {
    display: flex;
    flex-direction: row;
    margin:auto;
}

#about {
    max-width: 600px;
    margin: 0 auto; 
}

#avatar {
    display: block;
    margin: 0 auto;
    align-items: center;
    max-width: 10%; /* Опционально: ограничиваем ширину изображения */
}
